.main {
    display: flex;
    width: 10rem;
    align-items: center;
}

.interval {
    width: 4rem;
    margin-right: 0.1rem;
}

.startButton {
    margin-left: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stopButton {
    margin-left: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.startImage {
    height: 0.8rem;
    width: 0.8rem;
}

.stopImage {
    height: 0.8rem;
    width: 0.8rem;
}